asgiref==3.8.1
crispy-bootstrap5==2025.6
Django==5.2.3
django-auto-logout==0.5.1
django-crispy-forms==2.4
django-formtools==2.5.1
django-otp==1.6.0
django-phonenumber-field==8.1.0
django-recaptcha==4.1.0
django-two-factor-auth==1.17.0
phonenumbers==8.13.55
pypng==0.20220715.0
pytz==2025.2
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.14.0
